.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.App > img {
  width: 200%;
  position: fixed;
  left: 60%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
}

.header h1 {
  margin: 0;
  margin-top: 14vh;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .App {
    flex-direction: column;
    height: 50vh;
  }

  .App img {
    width: 350%;
    left: 71%;
  }
}